<footer class="alert alert-info navbar navbar-fixed-bottom">
    <p class="text-center text-info">&copy; 2016 | COMP2068 Lab 5</p>
</footer>

<!--js-->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/scripts.js"></script>
</body>
</html>